Welcome! Log in please. 
<form action="/" method="post">
  Email <input type="text" name="email"><br/>
  Password <input type="password" name="password"><br/>
  <input type="submit">
</form>

Not a member? Please <a href ='/signup'> Sign Up! </a>
